.viewer {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    background-color: rgb(39, 40, 34);
    padding: 0 10px;
}

.viewer .tree {
    flex: 1;
    overflow-y: scroll;
}

.header {
    display: flex;
    background-color: rgb(39, 40, 34);
    padding: 10px;
    width: 100%;
}

.header img {
    max-height: 40px;
    border-radius: 5px;
}

.header .name {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: rgb(253, 151, 31);
}
