.dialog {
    background-color: rgb(39, 40, 34);
}

.content {
    display: flex;
    flex-direction: column;
    height: 90vh;
    max-width: 95vw;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    flex: 0 0 40px;
}

.headerLeftPart {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.header img {
    max-height: 20px;
    border-radius: 5px;
}

.close {
    cursor: pointer;
}

.name {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: rgb(253, 151, 31);
}

.tree {
    flex: 1;
    overflow-y: scroll;
}

