.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 0;
    color: #333;
    padding-bottom: 10px;
}

.page {
    display: initial;
    margin: 0 2px;

    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: white;
    cursor: pointer;
    border-radius: 4px;

    outline: none;
    user-select: none;
    box-sizing: border-box;
}

.activePage {
    composes: page;
    background-color: white;
    font-weight: bold;
    border-width: 2px;
}

.pageLink {
    display: flex;
    justify-content: center;
    align-content: center;
    min-width: 32px;
    padding: 5px;
}

.arrow {
    margin-top: 3px;
}
