.stats {
    display: flex;
    color: #333;
    padding:  10px 10px;
    font-size: 15px;
}

.stats div:not(:last-child) {
    margin-right: 20px;
}

b {
    margin-left: 5px;
    font-size: 14px;
}

.totalFound {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
