.stats {
    display: flex;
    min-height: 40px;
    overflow-y: hidden;
}

.queryInfo {
    display: flex;
    color: #333;
    flex: 1;
    align-items: center;
    padding-left: 10px;
}

.queryInfo div:not(:last-child) {
    margin-right: 10px;
}

.totalFound {
    display: flex;
    justify-content: flex-end;
    background-color: dodgerblue;
    color: white;
    font-size: 20px;
    padding:  10px 10px;
    position: relative;
}

.totalFound .rotatedSquare {
    background-color: dodgerblue;
    height: 40px;
    width: 40px;
    transform: rotate(45deg);
    left: -20px;
    position: absolute;
}

.rotatedSquareTop {
    composes: rotatedSquare;
    top: -20px;
}

.rotatedSquareBottom {
    composes: rotatedSquare;
    bottom: -20px;
}
