.gallery {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.loading {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    height: 40px;
    display: flex;
    box-shadow: 0 0 3px;
}

.top button{
    font-size: 22px;
}

.top button.disabled{
    opacity: 0.2;
    pointer-events: none;
    cursor: not-allowed;
}

.top input {
    flex: 1;
    font-size: 16px;
    padding-left: 7px;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.bottom {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: rgb(39, 40, 34);
}

.fx {
    display: flex;
    align-content: stretch;
    flex: 1;
}
